.container, .container__testimonial{
    width:50%;
    margin-bottom:4rem;
}
.clients__avatar{
      width: 4rem;
    margin:0 auto 1rem;
     overflow: hidden;
     border-radius: 50%;
     border:0.4rem solid var(--color-primary-variant)

}
.swiper-testimonials{
background:var(--color-bg-variant);
text-align:center;
border-radius:2rem;
user-select:none;
padding:2rem; 
margin-bottom:2rem; 
margin-right:auto;
margin-left: auto;

}
.client__review{
    color:var(--color-light);
    font-weight:300;
    display: block;
    width:80%;
    margin:0.8rem auto 0; 
}

.swiper-pagination-clickable .swiper-pagination-bullet{
     background:var(--color-primary);
     margin-top:30px;
     
}

@media screen and (max-width:1024px){
    .container .testimonial__container{
       width:60%;
    }
}
@media screen and (max-width:600px){
    .container .testimonial__container{
        width:var(--container-width-sm)
    }
    .client__review{
        width:var(--container-width-sm)
    }
}
 